#mainConatainer {
  position: abosolute;
  top: 15%;
  left: 0%;
  z-index: 0;
}
#render {
  width: 98%;
  height: 85%;
  visibility: hidden;
}

#canvas {
  position: absolute;
  top: 10%;
  left: 1%;
  width: 98%;
  height: 85%;
  background: #fff;
  z-index: -1;
}
#mainContainer .overlay {
  position: absolute;
  padding: 10px;
  background: #fff;
  top: 15%;
  left: 1%;
  z-index: 1;
}