#mainConatainer {
  position: abosolute;
  top: 15%;
  left: 0%;
  z-index: 0;
}
#render {
  width: auto;
  height: auto;
  z-index: -1;
  visibility: hidden;
}

#canvas, #frame {
  position: absolute;
  top: 15%;
  left: 1%;
  width: auto;
  height: 85%;
  background: #fff;
  z-index: 50;
}

#frame {
  visibility: hidden;
}

#mainContainer .overlay {
  position: absolute;
  padding: 10px;
  background: #fff;
  top: 15%;
  left: 1%;
  z-index: 1;
}
#para {
  z-index: 101;
}
